{%extends "logout.html"%}

{%block head%}
<style>
    body {
        background-color: #e9faff;
    }
</style>
{%endblock%}

{%block heading%}
<h1 style="text-align: center;"><u>{{bookTitle}}</u></h1>

<h3 style="text-align: center;">{{avgRating}}/5 ({{numRatings}} reviews)</h3>
{%endblock%}

{%block body%}
<p><b>Author: </b>{{authorName}}</p>

<p><b>Publication Year: </b>{{pubYear}}</p>

<p><b>ISBN: </b>{{isbn}}</p>

<h2><u>Reviews</u></h2>
<h3>Write a review</h3>
<form action="{{url_for('createReview', ISBN = isbn)}}" method="POST">
    {%if reviewedByUser%}
    <div>
        <input type="radio" id="rating1" name="rating" value="1" disabled>
        <label for="rating1">1</label>
        <input type="radio" id="rating1" name="rating" value="2" disabled>
        <label for="rating1">2</label>
        <input type="radio" id="rating1" name="rating" value="3" disabled>
        <label for="rating1">3</label>
        <input type="radio" id="rating1" name="rating" value="4" disabled>
        <label for="rating1">4</label>
        <input type="radio" id="rating1" name="rating" value="5" disabled>
        <label for="rating1">5</label>
    </div>
    <textarea name="review" rows="8" cols="80" placeholder="Already submitted a review!" disabled></textarea>
    <button type="submit" disabled>Submit</button>
    {%else%}
    <div>
        <input type="radio" id="rating1" name="rating" value="1">
        <label for="rating1">1</label>
        <input type="radio" id="rating1" name="rating" value="2">
        <label for="rating1">2</label>
        <input type="radio" id="rating1" name="rating" value="3" checked>
        <label for="rating1">3</label>
        <input type="radio" id="rating1" name="rating" value="4">
        <label for="rating1">4</label>
        <input type="radio" id="rating1" name="rating" value="5">
        <label for="rating1">5</label>
    </div>
    <textarea name="review" rows="8" cols="80" placeholder="What did yout think?"></textarea>
    <button type="submit">Submit</button>
    {%endif%}
</form>
<h3>Community Reviews</h3>
<ul>
    {%for review in reviews%}
    <li>{{review.username}}({{review.rating}}/5): {{review.review}}</li>
    {%endfor%}
</ul>
{%endblock%}
