{%extends "layout.html"%}

{%block heading%}
<h1 style="text-align: center;">Search Results</h1>
{%endblock%}

{%block body%}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center"><b>ISBN</b></th>
            <th class="text-center">Title</th>
            <th class="text-center">Author</th>
            <th class="text-center">Publication Year</th>
        </tr>
    </thead>
    <tbody>
    {% for book in searchResults %}
        <tr>
            <td class="text-center"><a  href="{{url_for('bookTitle', ISBN = book.isbn)}}">{{book.isbn}}</td>
            <td class="text-center">{{book.title}}</td>
            <td class="text-center">{{book.author}}</td>
            <td class="text-center">{{book.year}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>
{%endblock%}
